@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");
.App {
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .CarouselItem {
    height: 200px;
    align-self: center;
  }
  .img {
    display: block;
    max-height: 200px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  .paper {
    transform: scale(0.4);
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .CarouselItem {
    align-content: center;
    justify-items: center;
    height: 600px;
  }
  .img {
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-items: center;
    display: block;
  }
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: black;
  min-height: 100%;
}
.footer-text {
  color: wheat;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
